/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* --- RESET & BASE --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #000000;
    --text-main: #ffffff;
    
    /* paleta de colores*/
    --petrol-dark: #002d38;
    --petrol-medium: #084d6e;
    --petrol-primary: #216477;
    --petrol-light: #0a9396;
    --petrol-glow: #94d2bd;
    
    /* sombra */
    --shadows-color: rgba(10, 147, 150, 0.3);
    
    /*degradado*/
    --blue-gradient: linear-gradient(45deg, 
        var(--petrol-dark), 
        var(--petrol-primary), 
        var(--petrol-light), 
        var(--petrol-medium), 
        var(--petrol-dark)
    );
    
    /*degradado de scaneo*/
    --scan-gradient: linear-gradient(90deg, 
        transparent 0%, 
        transparent 40%, 
        rgba(255,255,255,0.6) 50%, 
        var(--petrol-light) 55%, 
        transparent 60%, 
        transparent 100%
    );

}

body{
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'EB Garamond', serif;
    overflow-x: hidden;
}

h2{
    font-size: 2.5rem;
    color: var(--petrol-light);
}
/* --- UTILITIES --- */
.accent-hover {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    padding-left: 15px;
    transition: all 0.5s ease;
    display: inline-block; 
}

.accent-hover:hover, .sub-nav a:hover {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
    font-weight: bold;
    text-shadow: 2px 2px 15px var(--petrol-glow);
    border-left: 2px solid var(--petrol-glow);
}

/* --- Estado cuando el dedo está presionando (Móvil) --- */
.accent-hover:active {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0.9); 
    transition: transform 0.1s;
}

/* --- Clase para la opción que queda seleccionada --- */
.nav-active {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

/* --- 1. EL CURSOR PERSONALIZADO (Solo para pantallas grandes) --- */
.custom-cursor {
    width: 20px;
    height: 20px;
    border: 1px solid var(--petrol-light);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.1s ease-out;
    background: rgba(10, 147, 150, 0.15);
}

/* --- HEADER --- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    position: relative;
    background: #050505; 
}

/* Efecto Brillo Scanner (Compartido) */
header::after, .hero::after, .sub-menu-link.active-link::after, .works::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background: linear-gradient(90deg, transparent 0%, transparent 40%, #fff 50%, #084d6e 55%, transparent 60%, transparent 100%);
    background-size: 200% 100%;
    animation: scanner-light 10s linear infinite;
    box-shadow: 0 0 10px var(--shadows-color); 
    z-index: 5;
}

@keyframes scanner-light {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

header .logo{
    font-size: 24px;
    font-weight: bold;
    color: var(--text-main);

}
    
nav div a {
    color: var(--petrol-primary);
    margin: 0 20px;
    font-size: 1.5rem;

}

/* Menú Hamburguesa */

.menu-toggle {
    display: none; /* Se oculta en pantallas grandes */
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 100;
}

.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: var(--text-main);
    transition: all 0.3s ease;
}

/* --- MAIN LAYOUT --- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- HERO SECTION --- */
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    overflow: hidden;
}

/* Ajuste del carrusel para que sea fondo */
#heroCarousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-inner, .carousel-item, .bg-img {
    height: 100vh;
    width: 100%;
}

.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6); 
    z-index: 2;
}

/* El contenido siempre por encima de todo */
.hero-content {
    position: relative;
    z-index: 3;
}

.hero h1{  /* título principal */
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 3px var(--petrol-dark);
    
    
    /* Animación Scanner en Texto */
    background: linear-gradient(90deg, 
        var(--petrol-primary) 0%, 
        var(--petrol-primary) 40%, 
        var(--petrol-glow) 50%, 
        var(--petrol-primary) 60%, 
        var(--petrol-primary) 100%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInUp 1.5s ease-out, scanner 8s linear infinite;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scanner {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}

.hero h2{
    color: var(--petrol-dark);
    text-shadow: 2px 2px 2px var(--petrol-light);
}

.hero p, .about p{
    margin: 20px auto;
    width: 100%;
    font-size: 1.4rem;
    color: var(--text-main);
    text-align: center;
}

/* --- ABOUT SECTION --- */
.about .about-p{
    max-width: 80%;
}
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.about-content img {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #084d6e;
    box-shadow: 0 0 15px var(--shadows-color);
}

.about .about-text{
    max-width: 80%;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5rem;
}

/* --- BUTTONS --- */
.button, .btn-return-home{
    display: inline-block;
}

.btn, .btn-return-home a{ /*texto del boton */
    background-color: var(--petrol-dark);
    color: var(--text-main);
    border-radius: 6px; /* Un toque más cuadrado es más Pro */
    padding: 12px 30px;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 1px solid var(--petrol-primary);
}
.btn:hover, .btn-return-home a:hover { /*efecto*/
    background-color: var(--petrol-primary);
    border-color: var(--petrol-light);
    box-shadow: 0 0 20px var(--shadows-color);
    transform: translateY(-2px);
    font-weight: bold;
    color: white;
}

.btn-return-home{
    margin-bottom: 30px;
}

/* --- SECTIONS --- */
.about, .services, .contact{
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- WORKS SECTION --- */

.works{
    padding: 20px;
    width: 95vw;
    position: relative;
    border-radius: 15px;
}
.works h2{
    margin-bottom: 20px;
    text-align: center;
}
.sub-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sub-nav a{
    color: var(--petrol-primary);
    text-decoration: none;
    margin: 0 15px;
    border-top: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.8rem;
    position: relative;
    transition: all 0.3s ease;
}

/*grid de trabajos*/

.works-section {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.works-section.active {
    display: block;
    opacity: 1;
}


.sub-menu-link.active-link {

    color: #216477;
    font-weight: bold;
    border-top: 2px solid var(--petrol-light);
    border-right: 2px solid var(--petrol-light);
    position: relative;
}

.works-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}
/*Animación de aparición de cada item*/
.works-grid .work-item{
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    background-color: var(--petrol-dark);
    border: 1px solid var(--petrol-medium);
    border-radius: 8px;
    overflow: hidden;

    transition: box-shadow 0.4s ease;
    cursor: pointer;
}

.works-grid .work-item:hover{
    box-shadow: 0 10px 20px var(--shadows-color);
    border-color: var(--petrol-light);
    z-index: 10;
}
/*delay escalonado para cada item*/
.works-grid .work-item:nth-child(1) { animation-delay: 0.1s; }
.works-grid .work-item:nth-child(2) { animation-delay: 0.3s; }
.works-grid .work-item:nth-child(3) { animation-delay: 0.5s; }
.works-grid .work-item:nth-child(4) { animation-delay: 0.7s; }
.works-grid .work-item:nth-child(5) { animation-delay: 0.9s; }
.works-grid .work-item:nth-child(6) { animation-delay: 1.1s; }



.work-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.works-grid .work-item h4{
    padding-top: 10px;
    padding-left: 15px;
    font-size: 1.5rem;
}

.works-grid .work-item p{
    text-align: justify;
    padding: 15px;
}

/* --- SERVICES SECTION --- */
.services .button {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.services .button .btn {
    margin: 10px;
    width: 300px;
    text-align: center;
    font-size: 1.3rem;
}

.services h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

/* Grilla Principal: 2 columnas en pantallas grandes */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Items de nivel superior (EVENTOS, EDICION) */
.grid-item {
    border: 2px solid #0a9396;
    border-radius: 12px;
    padding: 20px;

    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px var(--shadows-color);
}

.grid-item h4 {
    text-align: center;
    background-color: var(--petrol-primary);
    color: var(--petrol-dark);
    margin: -20px -20px 20px -20px;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    font-size: 1.5rem;
}

/* Sub-items */
.grid-sub-item {
    border-bottom: 1px solid #005f73;
    padding: 15px 0;
    margin-bottom: 10px;
}

.grid-sub-item:last-child {
    border-bottom: none;
}

.grid-sub-item h5 {
    color: var(--petrol-glow);
    font-size: 1.2rem;
    margin: 5px 0;
}

.grid-sub-item p {
    color: var(--text-main);
    font-size: 0.95rem;
    line-height: 1.6;
}

/* Estilo para el importe */
.grid-sub-item h5:nth-of-type(2) {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--petrol-primary);
    margin-top: 10px;
    text-transform: uppercase;
}

.grid-sub-item p:last-child {
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
}

/* --- CONTACT SECTION --- */
.contact {
    max-width: 80vw;
    margin: 0 auto;
}

.contact .icons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 20px;
}

.contact .icons a {
    color: var(--petrol-primary);
    font-size: 2.5rem;
}

.contact form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact form .inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

input{
    width: 100%;
}

.contact form  input, .contact form textarea {
    background: #0a0a0a;
    border: 1px solid var(--petrol-dark);
    border-radius: 6px;
    color: white;
    transition: border 0.3s;
}

.contact form input:focus, .contact form textarea:focus {
    border-color: var(--petrol-light);
    outline: none;
}

.contact form button{
    background: var(--blue-gradient);
    color: white;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact form button:hover {
    filter: brightness(1.2);
    transform: translateY(-2px);
}

/*whatsapp*/
.fixed-whatsapp-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    z-index: 1000;
} 

.fixed-whatsapp-button:hover { transform: scale(1.1); }

/* --- FOOTER --- */
footer{
    padding: 40px;
    border-top: 1px solid #222;
    text-align: center;
    color: #666;
    position: relative;
    overflow: hidden;
}
/*Brillo Scanner en el top*/
footer::before, .works::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; 

    background: linear-gradient(90deg,
        transparent 0%,
        transparent 40%,
        #fff 50%,
        #084d6e 55%,
        transparent 60%,
        transparent 100%);

    background-size: 200% 100%;
    animation: scanner-light 10s linear infinite;
    box-shadow: 0 0 10px var(--shadows-color); 
    z-index: 5;
}
@keyframes scanner-light {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

/*SECTOR RESPONSIVE (MÓVIL < 768px) */

@media screen and (max-width: 768px) {
    
    .custom-cursor { display: none; }

    /* Hamburguesa */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
        z-index: 1000;
    }

    .menu-toggle .bar {
        width: 30px;
        height: 2px;
        background-color: var(--text-main);
        transition: 0.3s;
    }

    /* El Menú Lateral (Overlay) */
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: rgba(0, 20, 25, 0.98);
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 900;
    }

    nav.active {
        right: 0;
    }

    /* Contenedor de links en móvil */
    nav div {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    /*Efecto Cascada (Staggered Animation) */
    nav .menu-link {
        font-size: 2rem;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.4s ease;
    }

    nav.active .menu-link {
        opacity: 1;
        transform: translateY(0);
    }

    /*Tiempos de cascada */
    nav.active .menu-link:nth-child(1) { transition-delay: 0.1s; }
    nav.active .menu-link:nth-child(2) { transition-delay: 0.2s; }
    nav.active .menu-link:nth-child(3) { transition-delay: 0.3s; }
    nav.active .menu-link:nth-child(4) { transition-delay: 0.4s; }

    /* Feedback de Click */
    .menu-link.clicked {
        background: var(--blue-gradient) !important;
        color: black !important;
        -webkit-text-fill-color: black !important;
        padding: 5px 20px;
        border-radius: 5px;
    }

    /*Animación de Hamburguesa a X */
    .menu-toggle.is-active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .menu-toggle.is-active .bar:nth-child(2) { opacity: 0; }
    .menu-toggle.is-active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

    /*Reajustes de Secciones para Móvil */
    header, .hero, .about, .works, .contact {
        padding: 20px;
    }
    .hero h1 {
        font-size: 3rem;
    }
    .about p{
        font-size: 1rem;
        text-align: center;
    }
    .gallery-item img {
        width: 100%; height: auto;
    }
    .gallery-item p{
        text-align: center;
    }
    /* .services .button{
        display: flex;
        flex-direction: column;
    }
    .services .button a {
        width: 60%;
        text-align: center;
        margin: 0 auto;
    } */

    /*SERVICIOS*/
    .services{
        padding: 0;
        width: 95%;
    }
    .services .grid-container{
        width: 90%;
        justify-content: center;
    }
    .grid-container .grid-item{
        width: 95%;
        padding: 0;
        margin: 0 auto;

    }
    .grid-container .grid-item h4{
        margin: 0 auto;
    }
    .services .grid-container .grid-item .grid-sub-item{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .contact {
        width: 90vw;
        padding: 0;
    }

    .contact form .inputs{
        flex-direction: column;
    }

    .btn-return-home{
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .btn-return-home a{
        padding: 10px;
    }

    /*whatsapp*/
    .fixed-whatsapp-button{
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
}